# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
expand_dict.js
*.log

../opsi-insight-nexus/ # ignore opsi-insight-nexus folder
../playground/
../pm-skill-cursor.zip
../pm-skill-cursor/
../qbo-sale-automation/
../.DS_Store
../.cursor/